
<div class="profile-info">

<% if @propic != nil %>
<img src="<%= @propic %>" class="propic">
<% else %>
<img src="./avatar.png" class="propic">
<% end %>
<h1><%= @name %></h1>

<p class="new-post-label">New Post:</p>
<a href="/new-post" class="new-post-btn"><img src="./add1.png"></a>
</div>
<br>


<h1 class="wall"><%= @name %>'s wall of theories</h1>
<ul class="posts">
  <% @posts.each do |post| %>
  <div class="post-tile">
  <li class="post-title"><%=post.title%></li>
  <li class="post-content"><%=post.content%></li>
  <li><img src="<%=post.image%>" class="post-image"></li>
</div>
  <% end %>
</ul>
