<% if session[:user_id] %>
<img src="<%= @propic %>" class="propic">

<h1><%= @name %></h1>

<a href="/new-post" class="new-post-btn"><img src="./add1.png"></a>
<br>


<ul class="posts">
  <% @posts.each do |post| %>
  <div class="post-tile">
  <li><%=post.title%></li>
  <li><%=post.content%></li>
  <li><img src="<%=post.image%>"></li>
</div>
  <% end %>
</ul>

<br>
<a href="/sign-out" />Sign out</a>

<% end %>
